<div class="donnorbox-container">
    <p>You make KDE Gear possible with your support and donations. Help us keep improving and building apps by using the donation form.</p>
    <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
    <iframe src="https://donorbox.org/embed/kde-community?default_interval=o&hide_donation_meter=true" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="550px" width="100%" style="max-width: 500px; min-width: 310px; max-height:none!important"></iframe>
</div>
