#main {
  padding-top: 5px;
  background-color: #001725;
  @media (prefers-color-scheme: dark) {
    h1, h2:not(.krita-title), h3, h4 {
      color: white !important;
    }
  }
  .trusted {
    color: rgb(35, 38, 41);
    background-color: rgb(252, 252, 252);
    .gap-5 {
      gap: 3rem;
      img {
        min-width: 100px;
        max-height: 150px;
      }
    }
    h2 {
      margin-top: 0;
    }
  }
  color: white;
  a:not(.btn):not(.dark-card) {
    color: #afdfff;
    text-decoration: underline !important;
  }
  .swiper-slide a:not(.btn):not(.dark-card) {
    color: white;
    font-size: 1.25rem;
    text-decoration: none !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .h5 {
    opacity: 0.8;
  }

  .text-small p {
    max-width: 900px;
  }
  .text-center p{
    margin-left: auto;
    margin-right: auto;
  }
  .ratio-video {
    --bs-aspect-ratio: calc(4 / 16 * 100%);
  }

  .kontrast {
    color: #220783;
    background-color: #53cd65;
    h2, h3 {
      color: #220783 !important;
    }
  }

  .plasma {
    color: black;
    background-color: #f4f8ea;
    h2, h3 {
      color: #46417a !important;
    }

    p > a {
      color: black !important;
    }

    blockquote ~ p {
      text-align: right;
    }
  }

  .digikam {
    background: linear-gradient(40deg ,#8e0be1, #dd0707 50%, #ffba1c);
    color: #fff;
  }

  .backdrop-blur {
    backdrop-filter: blur(20px);
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  p {
    font-size: 1.1rem;
    font-weight: bold;
  }
  @media (min-width: 1200px) {
    p {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 800px) {
    .btn-lg {
       font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  blockquote {
    font-family: inherit;
  }

  &:after {
    padding-bottom: 0;
  }
}

#features-hero {
  background: url('/for/resources/kay.png');
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color) !important;
  h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: black !important;
    text-align: center;
  }
  @media (max-width: 1175px) {
    p, h2 {
      text-shadow: 0 0 20px #fff;
      color: black !important;
    }
  }
  @media (max-width: 768px) {
    p, h2 {
      text-shadow: 0 0 20px #000;
      color: white !important;
      text-align: right;
    }
  }
}

.slim-background {
  height: 11em;
  font-size: 1.0em;
  background: linear-gradient(to bottom, #001725 0%,#01194d 100%);
  clip-path: url("#slim-header-clip");
  position: absolute;
  top: 0;
  width: 100%;
}

.header-background {
  clip-path: url("#header-decoration-clip");
  height: 9em;
  font-size: 1.0em;
  margin-top: 4em;
  background: linear-gradient(to bottom, #39a3f2 1%,#0078f9 100%);
  position: absolute;
  top: 0;
  width: 100%;
}

a.dark-card {
  height: 100%;
  padding: 1rem;
  box-shadow: 7px 5px 36px -4px #000000 !important;
  &:hover {
    box-shadow: 7px 2px 16px -4px #000 !important
  }
  color: white;
  text-decoration: none !important;
  p {
    margin: 0;
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  img {
    height: 64px;
  }
}

.feature {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.feature>div {
 padding:20px
}
.feature>div:last-child {
 flex-basis: 50%
}
@media (min-width: 1000px) {
 .feature {
  flex-direction:row
 }
 .feature:nth-child(2n+1)>div:first-child {
  order:1
 }
 .feature:nth-child(2n+1)>div:last-child {
  order:0
 }
}
.round {
  border-radius: 1rem;
}

.krita-credits {
  text-align: right;
  padding-right: 2rem;
  margin-bottom: 4rem;
}
