<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-22.03.80.tar.xz">akonadi-22.03.80</a></td>
   <td align="right">1573kB</td>
   <td><tt>dc1287a0142a3946bd5eac6e116093a8471c7ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-calendar-22.03.80.tar.xz">akonadi-calendar-22.03.80</a></td>
   <td align="right">354kB</td>
   <td><tt>6ab69cb84269e26ac8008d19cc16b858b36fd635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-calendar-tools-22.03.80.tar.xz">akonadi-calendar-tools-22.03.80</a></td>
   <td align="right">231kB</td>
   <td><tt>f882430496cce9bacd5d7426fd93c7ed6129b409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadiconsole-22.03.80.tar.xz">akonadiconsole-22.03.80</a></td>
   <td align="right">196kB</td>
   <td><tt>1c5a515459896808b21d54204519a79bb7e5d12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-contacts-22.03.80.tar.xz">akonadi-contacts-22.03.80</a></td>
   <td align="right">415kB</td>
   <td><tt>9988f1fdce0febc0482f0fc0cfc902b506d1a547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-import-wizard-22.03.80.tar.xz">akonadi-import-wizard-22.03.80</a></td>
   <td align="right">498kB</td>
   <td><tt>b06ba5d4e9304e6f7dd8baa6765c3b3d4530f9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-mime-22.03.80.tar.xz">akonadi-mime-22.03.80</a></td>
   <td align="right">141kB</td>
   <td><tt>39b563e52fb0d786da74064175acdd517758a85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-notes-22.03.80.tar.xz">akonadi-notes-22.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>f758e8f979d95438eb68fa719a3dad88d0580847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akonadi-search-22.03.80.tar.xz">akonadi-search-22.03.80</a></td>
   <td align="right">97kB</td>
   <td><tt>da52e3f5895c6e7cacbcfd2e63dd52b0ed234f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/akregator-22.03.80.tar.xz">akregator-22.03.80</a></td>
   <td align="right">2199kB</td>
   <td><tt>640427975e387840e77486f14c419668bca5e8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/analitza-22.03.80.tar.xz">analitza-22.03.80</a></td>
   <td align="right">341kB</td>
   <td><tt>544139fef547533ba9ccb3ae5d07e3b04de7f5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ark-22.03.80.tar.xz">ark-22.03.80</a></td>
   <td align="right">2712kB</td>
   <td><tt>7aed5011bd559a64024cc572634dc7e17782e6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/artikulate-22.03.80.tar.xz">artikulate-22.03.80</a></td>
   <td align="right">1068kB</td>
   <td><tt>6e2cebe298db7c5c8daa7b42d9ffdb8f42c1e787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/audiocd-kio-22.03.80.tar.xz">audiocd-kio-22.03.80</a></td>
   <td align="right">511kB</td>
   <td><tt>ba1d35b46a007d4ef93f014c5b9297eef1a6566a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/baloo-widgets-22.03.80.tar.xz">baloo-widgets-22.03.80</a></td>
   <td align="right">264kB</td>
   <td><tt>8230a84948a8512d5c3c65feb8029d7b085555c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/blinken-22.03.80.tar.xz">blinken-22.03.80</a></td>
   <td align="right">2651kB</td>
   <td><tt>58194a4159cc2c44e821d6b655b5a8d372bb6be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/bomber-22.03.80.tar.xz">bomber-22.03.80</a></td>
   <td align="right">815kB</td>
   <td><tt>b58b08bf11eb1683da6a3c4be61851c80f33ff03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/bovo-22.03.80.tar.xz">bovo-22.03.80</a></td>
   <td align="right">205kB</td>
   <td><tt>38b01a9c6dccbd54de39e0d5d349653e29ffdf66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/calendarsupport-22.03.80.tar.xz">calendarsupport-22.03.80</a></td>
   <td align="right">748kB</td>
   <td><tt>a2ed76c477fc7601997364572dd1a267f27cc546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/cantor-22.03.80.tar.xz">cantor-22.03.80</a></td>
   <td align="right">8978kB</td>
   <td><tt>1333507bb329624fc3872c0c3e57f5088fbb2c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/cervisia-22.03.80.tar.xz">cervisia-22.03.80</a></td>
   <td align="right">1868kB</td>
   <td><tt>59b63f4a7ae9f33b9f9922637707875fd9a3c57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/dolphin-22.03.80.tar.xz">dolphin-22.03.80</a></td>
   <td align="right">5203kB</td>
   <td><tt>1bd2435b320776e5b6d5bbe896afce71ebba8f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/dolphin-plugins-22.03.80.tar.xz">dolphin-plugins-22.03.80</a></td>
   <td align="right">249kB</td>
   <td><tt>da59f1fdbe5418149fca9b0af5a40a713cb54144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/dragon-22.03.80.tar.xz">dragon-22.03.80</a></td>
   <td align="right">1627kB</td>
   <td><tt>8f0ab236dfb6b4772ad447eeade4427df68d79dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/elisa-22.03.80.tar.xz">elisa-22.03.80</a></td>
   <td align="right">1706kB</td>
   <td><tt>04b1dc98f4d95b48a5d9c46e3e98afb6cd0a1076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/eventviews-22.03.80.tar.xz">eventviews-22.03.80</a></td>
   <td align="right">444kB</td>
   <td><tt>1bdd760848aad6bcd40305de1087d6d9e8a04dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/falkon-22.03.80.tar.xz">falkon-22.03.80</a></td>
   <td align="right">2432kB</td>
   <td><tt>6ed41bd56008267d3e3fbc2c8157d0289049c81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ffmpegthumbs-22.03.80.tar.xz">ffmpegthumbs-22.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>2334ac67aaf05e1db250d1c00a0066f23508ecef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/filelight-22.03.80.tar.xz">filelight-22.03.80</a></td>
   <td align="right">671kB</td>
   <td><tt>1bb7b4a939b82062593b4e88531236b0c0d737f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/granatier-22.03.80.tar.xz">granatier-22.03.80</a></td>
   <td align="right">2053kB</td>
   <td><tt>86237c4a94504eef4684b9de3d4dee95947f9c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/grantlee-editor-22.03.80.tar.xz">grantlee-editor-22.03.80</a></td>
   <td align="right">109kB</td>
   <td><tt>54418732c8000d6e216365a8258df4538deb283d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/grantleetheme-22.03.80.tar.xz">grantleetheme-22.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>a703d7ad675493505bc5d8d60ac0232398f0780c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/gwenview-22.03.80.tar.xz">gwenview-22.03.80</a></td>
   <td align="right">6652kB</td>
   <td><tt>710b0fcdee1459275654a70e2aa7b87c1201da1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/incidenceeditor-22.03.80.tar.xz">incidenceeditor-22.03.80</a></td>
   <td align="right">534kB</td>
   <td><tt>c3fcdcb0e4ab953cbcc8ef3729d42f818aa70ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/itinerary-22.03.80.tar.xz">itinerary-22.03.80</a></td>
   <td align="right">486kB</td>
   <td><tt>83a366c8a47f2fae87694a6d030c9aaf2f3e3cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/juk-22.03.80.tar.xz">juk-22.03.80</a></td>
   <td align="right">1967kB</td>
   <td><tt>f118783f1166babb1c9562ea44e806998d0a3d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/k3b-22.03.80.tar.xz">k3b-22.03.80</a></td>
   <td align="right">10488kB</td>
   <td><tt>2d4d9c72bf692e373ba51d7da697e683186ab5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kaccounts-integration-22.03.80.tar.xz">kaccounts-integration-22.03.80</a></td>
   <td align="right">85kB</td>
   <td><tt>9755fc7734226fa0bba2fff5802ce5d4fbce9f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kaccounts-providers-22.03.80.tar.xz">kaccounts-providers-22.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>d7cc25b94b3dc2e0c80f6ac4b8c9ae477ac621e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kaddressbook-22.03.80.tar.xz">kaddressbook-22.03.80</a></td>
   <td align="right">3248kB</td>
   <td><tt>b63d062b09ac147591e972489424e7f1237b299f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kajongg-22.03.80.tar.xz">kajongg-22.03.80</a></td>
   <td align="right">4459kB</td>
   <td><tt>e4108e0ce0440b879c6f6d1cb8bd99117dd797f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kalarm-22.03.80.tar.xz">kalarm-22.03.80</a></td>
   <td align="right">2258kB</td>
   <td><tt>c0a8b48976ac2e9aebadcc9afa3a1c988c281dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kalendar-22.03.80.tar.xz">kalendar-22.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>2ae1b9a700e6bffd3c010046db8ad52a4e75a1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kalgebra-22.03.80.tar.xz">kalgebra-22.03.80</a></td>
   <td align="right">1008kB</td>
   <td><tt>83a1cace054f3f28750cd2fbc800f06a776e1f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kalzium-22.03.80.tar.xz">kalzium-22.03.80</a></td>
   <td align="right">23898kB</td>
   <td><tt>30c44803662cfc5a5369373427c0466fba795c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kamera-22.03.80.tar.xz">kamera-22.03.80</a></td>
   <td align="right">116kB</td>
   <td><tt>7fd91f1c57ff7698dea8f8e2fbea1b75efc4a740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kamoso-22.03.80.tar.xz">kamoso-22.03.80</a></td>
   <td align="right">220kB</td>
   <td><tt>e6ab88ce3625f32d8a4829b2e86b783737be61f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kanagram-22.03.80.tar.xz">kanagram-22.03.80</a></td>
   <td align="right">7856kB</td>
   <td><tt>ecf08b1ea20739afd160fb807d6bf289d6dcdde4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kapman-22.03.80.tar.xz">kapman-22.03.80</a></td>
   <td align="right">2417kB</td>
   <td><tt>0864bad32a469d8681b7e91957c1d02c3d1c1688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kapptemplate-22.03.80.tar.xz">kapptemplate-22.03.80</a></td>
   <td align="right">326kB</td>
   <td><tt>2cb3268efd4e491e16b834de340aaa7b41a1a3fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kate-22.03.80.tar.xz">kate-22.03.80</a></td>
   <td align="right">7392kB</td>
   <td><tt>4442f6372d5d560503115619a70527607f716bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/katomic-22.03.80.tar.xz">katomic-22.03.80</a></td>
   <td align="right">1404kB</td>
   <td><tt>0d8dd8a45cb7059b59e44e108a0c2f5b59e55048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kbackup-22.03.80.tar.xz">kbackup-22.03.80</a></td>
   <td align="right">380kB</td>
   <td><tt>e1beb2065c3be5e7fb22eeb9a14aacb01c7d0470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kblackbox-22.03.80.tar.xz">kblackbox-22.03.80</a></td>
   <td align="right">515kB</td>
   <td><tt>9ed50ace28588be848cd87c67e30f5c5ba08eee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kblocks-22.03.80.tar.xz">kblocks-22.03.80</a></td>
   <td align="right">2052kB</td>
   <td><tt>fc4a2c87717bf35cfa31f9222e935ad187aca246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kbounce-22.03.80.tar.xz">kbounce-22.03.80</a></td>
   <td align="right">3449kB</td>
   <td><tt>9e0cbaa567782201de5815ff4799b05ec225455a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kbreakout-22.03.80.tar.xz">kbreakout-22.03.80</a></td>
   <td align="right">2497kB</td>
   <td><tt>d1867af6eed0dcd6e6f005bd5c2521b1ba083a11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kbruch-22.03.80.tar.xz">kbruch-22.03.80</a></td>
   <td align="right">5497kB</td>
   <td><tt>c18da253c1c78450d9423a68f576474ef31cc66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcachegrind-22.03.80.tar.xz">kcachegrind-22.03.80</a></td>
   <td align="right">845kB</td>
   <td><tt>a9d52e7c824f98009bdd0a32f7d568c5441bcad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcalc-22.03.80.tar.xz">kcalc-22.03.80</a></td>
   <td align="right">378kB</td>
   <td><tt>0baf1b73a524504a40b80d870e92e6f32378996d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcalutils-22.03.80.tar.xz">kcalutils-22.03.80</a></td>
   <td align="right">332kB</td>
   <td><tt>cae62f217d8a36b1fb48ddb71c5b5d4674034f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcharselect-22.03.80.tar.xz">kcharselect-22.03.80</a></td>
   <td align="right">365kB</td>
   <td><tt>b65e903b00863e2aed712b35e1f9157c0cb840ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcolorchooser-22.03.80.tar.xz">kcolorchooser-22.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>e0faea93857b76ddaa35eb938b93eb6eba851f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kcron-22.03.80.tar.xz">kcron-22.03.80</a></td>
   <td align="right">894kB</td>
   <td><tt>422f98be12ad4a2ef04782e7f2364dedb5e13ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdebugsettings-22.03.80.tar.xz">kdebugsettings-22.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>b981342d1bdd7b412751472005bb82bc028795ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdeconnect-kde-22.03.80.tar.xz">kdeconnect-kde-22.03.80</a></td>
   <td align="right">593kB</td>
   <td><tt>55d9008a9591c8bdaca9bf9a4cc6c24046156588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kde-dev-scripts-22.03.80.tar.xz">kde-dev-scripts-22.03.80</a></td>
   <td align="right">357kB</td>
   <td><tt>74277dd3e6a9b41ba900afc366ee8882f2dcad28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kde-dev-utils-22.03.80.tar.xz">kde-dev-utils-22.03.80</a></td>
   <td align="right">66kB</td>
   <td><tt>f7e77f4e459486b5590ae98a7e44a2702f06e6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdeedu-data-22.03.80.tar.xz">kdeedu-data-22.03.80</a></td>
   <td align="right">327kB</td>
   <td><tt>0a7e10db9914dfc6fb95eca9210928eddb80b406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdegraphics-mobipocket-22.03.80.tar.xz">kdegraphics-mobipocket-22.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>93e85cca53da530ce646057afbb4f91c28b5c8e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdegraphics-thumbnailers-22.03.80.tar.xz">kdegraphics-thumbnailers-22.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>9e37b74a924c46ba59360e13caa89a300ce97127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdenetwork-filesharing-22.03.80.tar.xz">kdenetwork-filesharing-22.03.80</a></td>
   <td align="right">372kB</td>
   <td><tt>77569fc70bbd849a2a073a2a308905c3c5b40c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdenlive-22.03.80.tar.xz">kdenlive-22.03.80</a></td>
   <td align="right">12121kB</td>
   <td><tt>1696b8b623736438aa44cd5e50479550aa4bea41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdepim-addons-22.03.80.tar.xz">kdepim-addons-22.03.80</a></td>
   <td align="right">2254kB</td>
   <td><tt>bbed551167c67236d57f58e874233200032f6487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdepim-runtime-22.03.80.tar.xz">kdepim-runtime-22.03.80</a></td>
   <td align="right">1726kB</td>
   <td><tt>087228ae594a717bdf64d44d4cf032e6562f50e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdesdk-kioslaves-22.03.80.tar.xz">kdesdk-kioslaves-22.03.80</a></td>
   <td align="right">38kB</td>
   <td><tt>187dc02140a1f6682b37c9c74a96d0f52ff6e573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdesdk-thumbnailers-22.03.80.tar.xz">kdesdk-thumbnailers-22.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>2524db37376f90958ebecfb8a89a84267931794c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdevelop-22.03.80.tar.xz">kdevelop-22.03.80</a></td>
   <td align="right">8221kB</td>
   <td><tt>53253eb6d731d6df6ce0b96a0598c2e389107c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdev-php-22.03.80.tar.xz">kdev-php-22.03.80</a></td>
   <td align="right">1055kB</td>
   <td><tt>279e41ca746044481fb158c0357689c8f637fc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdev-python-22.03.80.tar.xz">kdev-python-22.03.80</a></td>
   <td align="right">1065kB</td>
   <td><tt>00f917556d0996c7ec191894b32741c9e70bd7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdf-22.03.80.tar.xz">kdf-22.03.80</a></td>
   <td align="right">465kB</td>
   <td><tt>0637cfc562a64d2f65dabd5a5568e61b8f8476d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdialog-22.03.80.tar.xz">kdialog-22.03.80</a></td>
   <td align="right">113kB</td>
   <td><tt>051fb397c78c77bcc4f8c095276b9ccf75eb746b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kdiamond-22.03.80.tar.xz">kdiamond-22.03.80</a></td>
   <td align="right">4593kB</td>
   <td><tt>ddc5f90291c804829b062254d66ec8114f4ceb16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/keditbookmarks-22.03.80.tar.xz">keditbookmarks-22.03.80</a></td>
   <td align="right">198kB</td>
   <td><tt>6c82e816e66369718548c673ea0214746b02a873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kfind-22.03.80.tar.xz">kfind-22.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>cbaa0b032529d74dc88c803af485cd290b914468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kfloppy-22.03.80.tar.xz">kfloppy-22.03.80</a></td>
   <td align="right">209kB</td>
   <td><tt>1123177d74a4e65679ed623cb6c455243eaa819d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kfourinline-22.03.80.tar.xz">kfourinline-22.03.80</a></td>
   <td align="right">705kB</td>
   <td><tt>1d861e0ab5b54838ea583ed9becdd9dcdf7c7b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kgeography-22.03.80.tar.xz">kgeography-22.03.80</a></td>
   <td align="right">10822kB</td>
   <td><tt>58579eefca4cb61e9adbd4f49b87975b4bac5267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kget-22.03.80.tar.xz">kget-22.03.80</a></td>
   <td align="right">5305kB</td>
   <td><tt>955de09945ad879fc22bcdbd8d39b1986fe1e3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kgoldrunner-22.03.80.tar.xz">kgoldrunner-22.03.80</a></td>
   <td align="right">4668kB</td>
   <td><tt>51d95fb4a6f77bf33f6c798e6bb0343bc07273ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kgpg-22.03.80.tar.xz">kgpg-22.03.80</a></td>
   <td align="right">2886kB</td>
   <td><tt>5c98b7165e037aaf63ab6b5bbe9d38a5b5dfaa4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/khangman-22.03.80.tar.xz">khangman-22.03.80</a></td>
   <td align="right">7258kB</td>
   <td><tt>4c045f008f25b0052939a6d534e11811afbeeb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/khelpcenter-22.03.80.tar.xz">khelpcenter-22.03.80</a></td>
   <td align="right">4192kB</td>
   <td><tt>62f24a85d3b243a0976de5a39f65dcd5e2041227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kidentitymanagement-22.03.80.tar.xz">kidentitymanagement-22.03.80</a></td>
   <td align="right">155kB</td>
   <td><tt>d13214ed6f273a0810708d52683e7b4a1f855992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kig-22.03.80.tar.xz">kig-22.03.80</a></td>
   <td align="right">3101kB</td>
   <td><tt>71a3159d06c57bb1bf408964bed3c4b59febb45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kigo-22.03.80.tar.xz">kigo-22.03.80</a></td>
   <td align="right">5131kB</td>
   <td><tt>6ab1b879a7e297b7a866fa04fac984ff5363bc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/killbots-22.03.80.tar.xz">killbots-22.03.80</a></td>
   <td align="right">1169kB</td>
   <td><tt>24cedd3c47d776cb31e0872ab3cc2f63c9b7957e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kimagemapeditor-22.03.80.tar.xz">kimagemapeditor-22.03.80</a></td>
   <td align="right">1063kB</td>
   <td><tt>98fa6ad6bfad0a36b8726f6d7b7e82f32a1ee156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kimap-22.03.80.tar.xz">kimap-22.03.80</a></td>
   <td align="right">126kB</td>
   <td><tt>6a685569b4820f5288843a3feff6530721e35d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kio-extras-22.03.80.tar.xz">kio-extras-22.03.80</a></td>
   <td align="right">623kB</td>
   <td><tt>06f46003f33f7ca2d7b9b26e5a773c09dd18f091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kio-gdrive-22.03.80.tar.xz">kio-gdrive-22.03.80</a></td>
   <td align="right">69kB</td>
   <td><tt>2398812ae9373f89143a44f9a4a050c719902370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kipi-plugins-22.03.80.tar.xz">kipi-plugins-22.03.80</a></td>
   <td align="right">1486kB</td>
   <td><tt>12d27aa35636d14bfe87f320101221e51716ed05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kirigami-gallery-22.03.80.tar.xz">kirigami-gallery-22.03.80</a></td>
   <td align="right">331kB</td>
   <td><tt>b462d5f0c94243ff788983f7f6e4b02beb81c9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kiriki-22.03.80.tar.xz">kiriki-22.03.80</a></td>
   <td align="right">357kB</td>
   <td><tt>037087404a56cc17efe98d14812eedb9d1a57e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kiten-22.03.80.tar.xz">kiten-22.03.80</a></td>
   <td align="right">11048kB</td>
   <td><tt>12ab8a4500c79414b156bf3a022b0c27fa2c2022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kitinerary-22.03.80.tar.xz">kitinerary-22.03.80</a></td>
   <td align="right">1491kB</td>
   <td><tt>2d690e151fd9a90381c792f165b4cea947407775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kjumpingcube-22.03.80.tar.xz">kjumpingcube-22.03.80</a></td>
   <td align="right">318kB</td>
   <td><tt>5c49a19a77e18dd526cd1d55ad9b7023c94dea8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kldap-22.03.80.tar.xz">kldap-22.03.80</a></td>
   <td align="right">168kB</td>
   <td><tt>bc6609cff04a34a6dcc45ac4feca679c35a911d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kleopatra-22.03.80.tar.xz">kleopatra-22.03.80</a></td>
   <td align="right">2179kB</td>
   <td><tt>1f793374b9f2b1a9d3f0d69ea55bce040ed19021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/klettres-22.03.80.tar.xz">klettres-22.03.80</a></td>
   <td align="right">46031kB</td>
   <td><tt>64690881eea87895e539ba2d0a549448df01ad3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/klickety-22.03.80.tar.xz">klickety-22.03.80</a></td>
   <td align="right">1460kB</td>
   <td><tt>71a99eb4d2667d8414ca61a0458b9b467360c51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/klines-22.03.80.tar.xz">klines-22.03.80</a></td>
   <td align="right">1687kB</td>
   <td><tt>4d1860335658050872f8701b7a109918adeabc7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmag-22.03.80.tar.xz">kmag-22.03.80</a></td>
   <td align="right">690kB</td>
   <td><tt>b535fa48f819be37c74e546995778dc3205f90d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmahjongg-22.03.80.tar.xz">kmahjongg-22.03.80</a></td>
   <td align="right">3975kB</td>
   <td><tt>e051d8fbb9a0d5625035fed0153dbf00b9e87836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmail-22.03.80.tar.xz">kmail-22.03.80</a></td>
   <td align="right">6979kB</td>
   <td><tt>d19a74d6a017596b75592750f65666a7367c2489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmail-account-wizard-22.03.80.tar.xz">kmail-account-wizard-22.03.80</a></td>
   <td align="right">167kB</td>
   <td><tt>5020096bc99ba441bfe2d8b78f903a6709c94a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmailtransport-22.03.80.tar.xz">kmailtransport-22.03.80</a></td>
   <td align="right">169kB</td>
   <td><tt>0de3b617370373f6dc879493332363ded275bbcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmbox-22.03.80.tar.xz">kmbox-22.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>145d177281a404fee29cd3c3109dbda22cda0ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmime-22.03.80.tar.xz">kmime-22.03.80</a></td>
   <td align="right">152kB</td>
   <td><tt>145adf9b30cc33ffa3388922ee1a52db9c12ff29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmines-22.03.80.tar.xz">kmines-22.03.80</a></td>
   <td align="right">971kB</td>
   <td><tt>87b0e4ba017ffcf19a9806f037e9924fc14a5f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmix-22.03.80.tar.xz">kmix-22.03.80</a></td>
   <td align="right">1135kB</td>
   <td><tt>4f76ad9e501ca1025defd68c70e1637da6e409d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmousetool-22.03.80.tar.xz">kmousetool-22.03.80</a></td>
   <td align="right">118kB</td>
   <td><tt>caa8648fe349516ea13c417058362c64fb58b02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmouth-22.03.80.tar.xz">kmouth-22.03.80</a></td>
   <td align="right">2055kB</td>
   <td><tt>5a927f410e71d3ed985338bc5881cc7cc3dd30a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kmplot-22.03.80.tar.xz">kmplot-22.03.80</a></td>
   <td align="right">2972kB</td>
   <td><tt>35106909fe54b2f7863a81a7209b6a72851f8610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/knavalbattle-22.03.80.tar.xz">knavalbattle-22.03.80</a></td>
   <td align="right">1347kB</td>
   <td><tt>dc0ae32eceaa7022ffb746c8c0ea5ec193830794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/knetwalk-22.03.80.tar.xz">knetwalk-22.03.80</a></td>
   <td align="right">1068kB</td>
   <td><tt>e89995ad97d5e161b981199148e7c08bd2c83b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/knights-22.03.80.tar.xz">knights-22.03.80</a></td>
   <td align="right">3245kB</td>
   <td><tt>9e24c122a214966f7ea1f5b49888af7ab572e04b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/knotes-22.03.80.tar.xz">knotes-22.03.80</a></td>
   <td align="right">331kB</td>
   <td><tt>5f3e4c293bd18a0b3652efabbcd1ec818ce3e5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kolf-22.03.80.tar.xz">kolf-22.03.80</a></td>
   <td align="right">1026kB</td>
   <td><tt>b0d87aeeeac9f65c76005dc413542610e9121651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kollision-22.03.80.tar.xz">kollision-22.03.80</a></td>
   <td align="right">295kB</td>
   <td><tt>80cb4229c82b2ee111b60cbe49933341ecc1d60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kolourpaint-22.03.80.tar.xz">kolourpaint-22.03.80</a></td>
   <td align="right">5582kB</td>
   <td><tt>f40693657896e38c9a7050f3ff97c1d2c6fb74bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kompare-22.03.80.tar.xz">kompare-22.03.80</a></td>
   <td align="right">920kB</td>
   <td><tt>307737cb3c834ff619acfb6614b91ab4a1ba2043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/konqueror-22.03.80.tar.xz">konqueror-22.03.80</a></td>
   <td align="right">7497kB</td>
   <td><tt>50a8cb87ffa1dd85711e782339d55afb3e621a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/konquest-22.03.80.tar.xz">konquest-22.03.80</a></td>
   <td align="right">843kB</td>
   <td><tt>9953a39aa58e3c5b96a40479ff42764af9d70c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/konsole-22.03.80.tar.xz">konsole-22.03.80</a></td>
   <td align="right">1415kB</td>
   <td><tt>f42b21f682a579f7129a7eda9d36d1aec4b3794f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kontact-22.03.80.tar.xz">kontact-22.03.80</a></td>
   <td align="right">805kB</td>
   <td><tt>a604abb6c8a61dcac37c1e5043e9317bbaae761c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kontactinterface-22.03.80.tar.xz">kontactinterface-22.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>ac371f63116be6fe2d0f974f20722b6393584591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kontrast-22.03.80.tar.xz">kontrast-22.03.80</a></td>
   <td align="right">122kB</td>
   <td><tt>74ae98333976508e2e518e0349321dbc81eb3c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/konversation-22.03.80.tar.xz">konversation-22.03.80</a></td>
   <td align="right">4184kB</td>
   <td><tt>71f649219b9c2775c48e3edeb7cf9e61e2fe92f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kopeninghours-22.03.80.tar.xz">kopeninghours-22.03.80</a></td>
   <td align="right">67kB</td>
   <td><tt>5a1a718a8511d7bd9fc2b2ae96ce754d62ef87c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kopete-22.03.80.tar.xz">kopete-22.03.80</a></td>
   <td align="right">9439kB</td>
   <td><tt>c794b47a90fcf79740c20fd7a40f20f59b92d6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/korganizer-22.03.80.tar.xz">korganizer-22.03.80</a></td>
   <td align="right">2253kB</td>
   <td><tt>c2f5a4a0ce49ad156bc7af947694eaa13776d837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kosmindoormap-22.03.80.tar.xz">kosmindoormap-22.03.80</a></td>
   <td align="right">342kB</td>
   <td><tt>805e5ac5d2e7b2f0939d7f924480ec42e619bb7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kpat-22.03.80.tar.xz">kpat-22.03.80</a></td>
   <td align="right">3643kB</td>
   <td><tt>33156b5d147e5afc92c4f1953fc84752bde66f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kpimtextedit-22.03.80.tar.xz">kpimtextedit-22.03.80</a></td>
   <td align="right">210kB</td>
   <td><tt>ebd206d5f7950ce10ca52d92400902b43fe1e202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kpkpass-22.03.80.tar.xz">kpkpass-22.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>6cbe58b4937424adce196614772875df16bc51d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kpmcore-22.03.80.tar.xz">kpmcore-22.03.80</a></td>
   <td align="right">584kB</td>
   <td><tt>c5bcc2e9c041ae55e5b11ef012a7b7716448fdf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kpublictransport-22.03.80.tar.xz">kpublictransport-22.03.80</a></td>
   <td align="right">473kB</td>
   <td><tt>43c996c410e363cdefb8acda3a47346cab89f999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kqtquickcharts-22.03.80.tar.xz">kqtquickcharts-22.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>62cda30d823f92e79bf2a71c50eedc11d8aa9b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/krdc-22.03.80.tar.xz">krdc-22.03.80</a></td>
   <td align="right">1546kB</td>
   <td><tt>2b3a491ff3350c4a5f64984e13df34b47f05512a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kreversi-22.03.80.tar.xz">kreversi-22.03.80</a></td>
   <td align="right">1039kB</td>
   <td><tt>c56cfda93e6d17544606f9f4e6142a89ececed3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/krfb-22.03.80.tar.xz">krfb-22.03.80</a></td>
   <td align="right">1272kB</td>
   <td><tt>dbf56983778258dd300667451232f65c17e1ce2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kross-interpreters-22.03.80.tar.xz">kross-interpreters-22.03.80</a></td>
   <td align="right">148kB</td>
   <td><tt>5f1d396eb805b1a015489a41f616eb0e0e4f3ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kruler-22.03.80.tar.xz">kruler-22.03.80</a></td>
   <td align="right">270kB</td>
   <td><tt>370d4dfa4d9bafa032b3059a6b8a24b65202a46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kshisen-22.03.80.tar.xz">kshisen-22.03.80</a></td>
   <td align="right">969kB</td>
   <td><tt>7fb5375201845a5e3a70825ce356f82d6cfe4419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksirk-22.03.80.tar.xz">ksirk-22.03.80</a></td>
   <td align="right">6840kB</td>
   <td><tt>c503afa254199863308fee22dec1b861c328cd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksmtp-22.03.80.tar.xz">ksmtp-22.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>b13a8f8c0920a2070bcc54bc04b34e9e7542a4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksnakeduel-22.03.80.tar.xz">ksnakeduel-22.03.80</a></td>
   <td align="right">593kB</td>
   <td><tt>905db72ec259c5041417e5c8046f9b0ce1477912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kspaceduel-22.03.80.tar.xz">kspaceduel-22.03.80</a></td>
   <td align="right">636kB</td>
   <td><tt>e7e3be641fe51efd1fbb280e5348ab7bb305b9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksquares-22.03.80.tar.xz">ksquares-22.03.80</a></td>
   <td align="right">300kB</td>
   <td><tt>7fa033de1a52fae651bf87b50d5f152082ed9001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksudoku-22.03.80.tar.xz">ksudoku-22.03.80</a></td>
   <td align="right">1650kB</td>
   <td><tt>32bf02a2f5e2cb118c6b9ba90accbc8412437bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ksystemlog-22.03.80.tar.xz">ksystemlog-22.03.80</a></td>
   <td align="right">1921kB</td>
   <td><tt>2237c28ee95c2bea01b4ab7c56308ae895db3cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kteatime-22.03.80.tar.xz">kteatime-22.03.80</a></td>
   <td align="right">294kB</td>
   <td><tt>7ae5848418ba49fed4dfbe596144eb4aa2ec7b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktimer-22.03.80.tar.xz">ktimer-22.03.80</a></td>
   <td align="right">384kB</td>
   <td><tt>e333e05c2cb049ca3e787c25284247e1700984c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktnef-22.03.80.tar.xz">ktnef-22.03.80</a></td>
   <td align="right">296kB</td>
   <td><tt>85c6a7eb401a7632bafa1631a921bd63a5b14b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktorrent-22.03.80.tar.xz">ktorrent-22.03.80</a></td>
   <td align="right">2007kB</td>
   <td><tt>771d77a0b496ed897473128335d35224d3c62153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktouch-22.03.80.tar.xz">ktouch-22.03.80</a></td>
   <td align="right">4860kB</td>
   <td><tt>7278b26b98f9af7e34b1e2470f0e965b0f03321e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-accounts-kcm-22.03.80.tar.xz">ktp-accounts-kcm-22.03.80</a></td>
   <td align="right">260kB</td>
   <td><tt>5bbe96a3cb4f8bff804c18f19f1eff8788d7730a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-approver-22.03.80.tar.xz">ktp-approver-22.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>830cfdc0e8fabc6fb64bb321fdcfcf8f3d8f2da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-auth-handler-22.03.80.tar.xz">ktp-auth-handler-22.03.80</a></td>
   <td align="right">46kB</td>
   <td><tt>fd22de90c10a71cf95b828b9153eb7e0957d02ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-call-ui-22.03.80.tar.xz">ktp-call-ui-22.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>7a52a9eae37912602e28b53dc1f552b3933d5d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-common-internals-22.03.80.tar.xz">ktp-common-internals-22.03.80</a></td>
   <td align="right">440kB</td>
   <td><tt>99f4729a5b3a433d825f7c907854db62cdf6678a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-contact-list-22.03.80.tar.xz">ktp-contact-list-22.03.80</a></td>
   <td align="right">151kB</td>
   <td><tt>712029e367d04d369e0aae29b31b3735cd3cb1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-contact-runner-22.03.80.tar.xz">ktp-contact-runner-22.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>939608bc7a317a0b1f27adc708a55c1d552c5a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-desktop-applets-22.03.80.tar.xz">ktp-desktop-applets-22.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>9bf8f382eb706626d8402f828463b792143c188f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-filetransfer-handler-22.03.80.tar.xz">ktp-filetransfer-handler-22.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>b559887e7fcec96b6bdb3f4fee2a71da5ce2f9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-kded-module-22.03.80.tar.xz">ktp-kded-module-22.03.80</a></td>
   <td align="right">97kB</td>
   <td><tt>a1ce7d5700d25f702d94dae92683025dc80143ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-send-file-22.03.80.tar.xz">ktp-send-file-22.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>5b75a86cfbfb2f02309ab44692b6af87a404aa22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktp-text-ui-22.03.80.tar.xz">ktp-text-ui-22.03.80</a></td>
   <td align="right">463kB</td>
   <td><tt>29362adef77116525f2da204ffb9b8a3b55965ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/ktuberling-22.03.80.tar.xz">ktuberling-22.03.80</a></td>
   <td align="right">69171kB</td>
   <td><tt>24f2266cae38ec2dfc8278e045f7c63f8bc67ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kturtle-22.03.80.tar.xz">kturtle-22.03.80</a></td>
   <td align="right">1926kB</td>
   <td><tt>e2c4fbf7c79f92de947cd7877de3801ddce735c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kubrick-22.03.80.tar.xz">kubrick-22.03.80</a></td>
   <td align="right">334kB</td>
   <td><tt>1e6085c8135b9f1dce95fe70cdb334513bb8891c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kwalletmanager-22.03.80.tar.xz">kwalletmanager-22.03.80</a></td>
   <td align="right">781kB</td>
   <td><tt>5036cd83fca1146ff43fcf4c17da59c83c20632d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kwave-22.03.80.tar.xz">kwave-22.03.80</a></td>
   <td align="right">6762kB</td>
   <td><tt>a6aaba7933396200e303add6412a7b15f82ebfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/kwordquiz-22.03.80.tar.xz">kwordquiz-22.03.80</a></td>
   <td align="right">4109kB</td>
   <td><tt>7f32f9eca220b4deb696ee898499a75a4b0bbd77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libgravatar-22.03.80.tar.xz">libgravatar-22.03.80</a></td>
   <td align="right">34kB</td>
   <td><tt>504a84452ccbe98145523722b38d5fb7befbecd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkcddb-22.03.80.tar.xz">libkcddb-22.03.80</a></td>
   <td align="right">426kB</td>
   <td><tt>bfe12c0ed5bfceaa345baa24946ec60948b1a586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkcompactdisc-22.03.80.tar.xz">libkcompactdisc-22.03.80</a></td>
   <td align="right">95kB</td>
   <td><tt>f30b6f88d1ff385b2cd6756afce2216bd496294e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkdcraw-22.03.80.tar.xz">libkdcraw-22.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>eb43c1eae773fbae55432b407e16ccd38e819bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkdegames-22.03.80.tar.xz">libkdegames-22.03.80</a></td>
   <td align="right">5843kB</td>
   <td><tt>515df7d228e32693da3472d1e2aee1f9927511a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkdepim-22.03.80.tar.xz">libkdepim-22.03.80</a></td>
   <td align="right">248kB</td>
   <td><tt>1013d2ee98a452e61ad1043878cce986d64ff78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkeduvocdocument-22.03.80.tar.xz">libkeduvocdocument-22.03.80</a></td>
   <td align="right">209kB</td>
   <td><tt>9d28f807a978f8841e2545873cbf48a0111fba47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkexiv2-22.03.80.tar.xz">libkexiv2-22.03.80</a></td>
   <td align="right">58kB</td>
   <td><tt>642b033c3ab165f6713f5f253e39f3e775c96cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkgapi-22.03.80.tar.xz">libkgapi-22.03.80</a></td>
   <td align="right">239kB</td>
   <td><tt>d3afccc69cda5f735d4acf277675778215f4d043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkipi-22.03.80.tar.xz">libkipi-22.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>3493714bb2f43a50cc03fd181aa52d9558b43403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkleo-22.03.80.tar.xz">libkleo-22.03.80</a></td>
   <td align="right">457kB</td>
   <td><tt>a065c74bde602193ee3e1afcddd32b22b5b8fc59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkmahjongg-22.03.80.tar.xz">libkmahjongg-22.03.80</a></td>
   <td align="right">1645kB</td>
   <td><tt>40a33907e826f8b80b933cc0dd080da74f15b2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libkomparediff2-22.03.80.tar.xz">libkomparediff2-22.03.80</a></td>
   <td align="right">168kB</td>
   <td><tt>a06228cf25fad372a75023f69fbeb073e1499840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libksane-22.03.80.tar.xz">libksane-22.03.80</a></td>
   <td align="right">161kB</td>
   <td><tt>20827b9128343972dc10486787d8904d73e735de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libksieve-22.03.80.tar.xz">libksieve-22.03.80</a></td>
   <td align="right">561kB</td>
   <td><tt>cc02f63066f8cd11a985d765e2f12c81fe0bdd93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/libktorrent-22.03.80.tar.xz">libktorrent-22.03.80</a></td>
   <td align="right">592kB</td>
   <td><tt>9ed0b7f2c3c1b1dbfb77c2dcbd936829ba9ee6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/lokalize-22.03.80.tar.xz">lokalize-22.03.80</a></td>
   <td align="right">2014kB</td>
   <td><tt>e93d1af42169fe99767fbdb2f9ee6145389470c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/lskat-22.03.80.tar.xz">lskat-22.03.80</a></td>
   <td align="right">1206kB</td>
   <td><tt>f8f49888cafd23d1cd2580f777212b117564c82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/mailcommon-22.03.80.tar.xz">mailcommon-22.03.80</a></td>
   <td align="right">720kB</td>
   <td><tt>ddd467ec000b6e46ae244007fe5f1c63381f007c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/mailimporter-22.03.80.tar.xz">mailimporter-22.03.80</a></td>
   <td align="right">545kB</td>
   <td><tt>28a499d5962fd3998077623b5ab89cf0f314eb9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/marble-22.03.80.tar.xz">marble-22.03.80</a></td>
   <td align="right">52414kB</td>
   <td><tt>e7e5d6b69ae94aee8e546b1d41567d9ea755d73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/markdownpart-22.03.80.tar.xz">markdownpart-22.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>d0191ae2746d984beda254d01fb904f0b740c3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/mbox-importer-22.03.80.tar.xz">mbox-importer-22.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>04c5d83b075c9a74d9a0213c00573a496670bd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/messagelib-22.03.80.tar.xz">messagelib-22.03.80</a></td>
   <td align="right">10609kB</td>
   <td><tt>68fd0ef6239e7c11f22eed716a473deaee81e2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/minuet-22.03.80.tar.xz">minuet-22.03.80</a></td>
   <td align="right">27025kB</td>
   <td><tt>6e4e047b96dacee2833bbc28db919fb3684a4fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/okular-22.03.80.tar.xz">okular-22.03.80</a></td>
   <td align="right">7984kB</td>
   <td><tt>f05426340bc6d89e1a5d9416053ade37c26f5543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/palapeli-22.03.80.tar.xz">palapeli-22.03.80</a></td>
   <td align="right">2048kB</td>
   <td><tt>658a364b4d66f739b51e92f9d9ed9cc0cf9e91d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/parley-22.03.80.tar.xz">parley-22.03.80</a></td>
   <td align="right">8302kB</td>
   <td><tt>ec07a958294f7bc581436608ac2f2ebbc79dfb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/partitionmanager-22.03.80.tar.xz">partitionmanager-22.03.80</a></td>
   <td align="right">2057kB</td>
   <td><tt>66086fa9173bc3de78f816da060e1d3d08bee23e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/picmi-22.03.80.tar.xz">picmi-22.03.80</a></td>
   <td align="right">1502kB</td>
   <td><tt>f9a394c34ec7201e9cb0f31c15c3e2bdace4fb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/pimcommon-22.03.80.tar.xz">pimcommon-22.03.80</a></td>
   <td align="right">365kB</td>
   <td><tt>4aa74ca0447849b4607dd6df4ed53b88b2dfd6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/pim-data-exporter-22.03.80.tar.xz">pim-data-exporter-22.03.80</a></td>
   <td align="right">394kB</td>
   <td><tt>6f19134b620ebfd4cf474c01b7dd3c23f7998180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/pim-sieve-editor-22.03.80.tar.xz">pim-sieve-editor-22.03.80</a></td>
   <td align="right">442kB</td>
   <td><tt>5f73614cbb172df092c41c572f5a043f91dd01bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/poxml-22.03.80.tar.xz">poxml-22.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>505f3b440e244d5c3763105c8ff0da6bd5c09fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/print-manager-22.03.80.tar.xz">print-manager-22.03.80</a></td>
   <td align="right">265kB</td>
   <td><tt>855e41697441f728c51956ac5e5c6265cc74665a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/rocs-22.03.80.tar.xz">rocs-22.03.80</a></td>
   <td align="right">1517kB</td>
   <td><tt>a0489b0b7064ec8d073ca292a86b063aab8b9034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/signon-kwallet-extension-22.03.80.tar.xz">signon-kwallet-extension-22.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>93afe99cb8352ba26a144e160dd43845994a5cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/skanlite-22.03.80.tar.xz">skanlite-22.03.80</a></td>
   <td align="right">2383kB</td>
   <td><tt>3dfb180fa37f1b34c42624ab45bc10d0737c5d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/skanpage-22.03.80.tar.xz">skanpage-22.03.80</a></td>
   <td align="right">380kB</td>
   <td><tt>444f332d3aa2e3ab96a24fe00c8c6a4d36d8f9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/spectacle-22.03.80.tar.xz">spectacle-22.03.80</a></td>
   <td align="right">1230kB</td>
   <td><tt>289ddb32c810616dc6f279438b1e0b59685a74c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/step-22.03.80.tar.xz">step-22.03.80</a></td>
   <td align="right">915kB</td>
   <td><tt>7c17c82ccf07f9e12ff5a66e5695b0b850cc70f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/svgpart-22.03.80.tar.xz">svgpart-22.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>7bcf94a6e8b01b38a59e3f75fa78e14be2eade39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/sweeper-22.03.80.tar.xz">sweeper-22.03.80</a></td>
   <td align="right">369kB</td>
   <td><tt>3ab4deb2db61e15d3eb3ac9e752bda8689ce12bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/umbrello-22.03.80.tar.xz">umbrello-22.03.80</a></td>
   <td align="right">5542kB</td>
   <td><tt>bda49d3dc0e306774f6ca56670d8dd9e607afa74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/yakuake-22.03.80.tar.xz">yakuake-22.03.80</a></td>
   <td align="right">393kB</td>
   <td><tt>8286494f39634a4a7e6b8a3725b372edcf2eff8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/zanshin-22.03.80.tar.xz">zanshin-22.03.80</a></td>
   <td align="right">345kB</td>
   <td><tt>95a61ea5aebe17ff9e9cf8a03347f2c3d91fb143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.03.80/src/zeroconf-ioslave-22.03.80.tar.xz">zeroconf-ioslave-22.03.80</a></td>
   <td align="right">38kB</td>
   <td><tt>bd03b66b3d1d55057219d8ca9f8de0ed65c06326</tt></td>
</tr>

</table>
