<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/bluedevil-5.6.0.tar.xz">bluedevil-5.6.0</a></td>
   <td align="right">168kB</td>
   <td><tt>6249326a9e772488fd5c58496375ae1ae7c9fdea82892295e476e2d56a8ef7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/breeze-5.6.0.tar.xz">breeze-5.6.0</a></td>
   <td align="right">18MB</td>
   <td><tt>3e8b6f2366f760224b64078f1dc781a26f3e2dcc753416369eb2e7371b0e828a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/breeze-grub-5.6.0.tar.xz">breeze-grub-5.6.0</a></td>
   <td align="right">150kB</td>
   <td><tt>11960d0797c9426e3a040e9207268b1cb62577521b30ce9630a41cb0778299a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/breeze-gtk-5.6.0.tar.xz">breeze-gtk-5.6.0</a></td>
   <td align="right">251kB</td>
   <td><tt>c64ca25c3a06d7f0303b58a3b9482f0af4fa8a98c0682919d57bdb3abe487062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/breeze-plymouth-5.6.0.tar.xz">breeze-plymouth-5.6.0</a></td>
   <td align="right">48kB</td>
   <td><tt>92143ae63aaa02189350cbfa885215cfbb8f0ab85a02b2de0159ac7fbad50784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/discover-5.6.0.tar.xz">discover-5.6.0</a></td>
   <td align="right">845kB</td>
   <td><tt>73dbff5178f3157501b698f1f77c57129d81ebac87e86c04b6b50f182ee2c4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kactivitymanagerd-5.6.0.tar.xz">kactivitymanagerd-5.6.0</a></td>
   <td align="right">82kB</td>
   <td><tt>7e7d4bfbbe717bfa8892e69508f3113007251481a5becd8085585525e26c7dac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kde-cli-tools-5.6.0.tar.xz">kde-cli-tools-5.6.0</a></td>
   <td align="right">493kB</td>
   <td><tt>582594e38874a2daef5e4090df70431863ff13d2ed9c3bccb73cbc99dbe9e39b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kdecoration-5.6.0.tar.xz">kdecoration-5.6.0</a></td>
   <td align="right">34kB</td>
   <td><tt>36bbe524f5edd3b6c0549fd37b796c37e2a4d7fe7e819a0a40ce663f7e510956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kde-gtk-config-5.6.0.tar.xz">kde-gtk-config-5.6.0</a></td>
   <td align="right">160kB</td>
   <td><tt>1f86f221bce499a704c2964a5504209aa96e4588efac0d5eb5374c0e7ec9ca63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kdeplasma-addons-5.6.0.tar.xz">kdeplasma-addons-5.6.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e773f541dd1832b33e364fb2371d024887e4dfcc63caa37f67d4281974483587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kgamma5-5.6.0.tar.xz">kgamma5-5.6.0</a></td>
   <td align="right">70kB</td>
   <td><tt>11ad1c7e1875b3350e4a69193ed9b2dd8e974533776a0ad56df61a2e662bb9f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/khelpcenter-5.6.0.tar.xz">khelpcenter-5.6.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>012f0e79382a19bb37d5b973e6c86c6b5e633a8c08b7961f6801d453fbb70805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/khotkeys-5.6.0.tar.xz">khotkeys-5.6.0</a></td>
   <td align="right">653kB</td>
   <td><tt>fd3be89d4fda41359d6bdba607226fb747de7827b0c16ffaeb1cb264a2fbe53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kinfocenter-5.6.0.tar.xz">kinfocenter-5.6.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>bea3c089e442bae24e23df1ab78034fa24f2ba60f1fb74c4c211749283efbc4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kmenuedit-5.6.0.tar.xz">kmenuedit-5.6.0</a></td>
   <td align="right">468kB</td>
   <td><tt>40231134a271fa3deb3185e4e3b1586b8a0eed45fa1df318354d9c5371bea2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kscreen-5.6.0.tar.xz">kscreen-5.6.0</a></td>
   <td align="right">114kB</td>
   <td><tt>39c1aa6b2c6951233e8e57f119e3b55f2b0c91f53e91c7a1ab4bfb1142196945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kscreenlocker-5.6.0.tar.xz">kscreenlocker-5.6.0</a></td>
   <td align="right">101kB</td>
   <td><tt>714a3c4692899a1a22d503c1fd136b2489f165221a8a1bf3ea3046722764e7fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/ksshaskpass-5.6.0.tar.xz">ksshaskpass-5.6.0</a></td>
   <td align="right">24kB</td>
   <td><tt>0cc46e29255c9faf5fede9733fd060ed8ec97c0a1a0e983f182909cff86221bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/ksysguard-5.6.0.tar.xz">ksysguard-5.6.0</a></td>
   <td align="right">601kB</td>
   <td><tt>8a3b14bdcac08b46b2466ef738b7ee8b8752bae57c5346781d9412f0fbc16ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kwallet-pam-5.6.0.tar.xz">kwallet-pam-5.6.0</a></td>
   <td align="right">17kB</td>
   <td><tt>aa3a0242876ac54c42a06bdb0ec6f11efd66c8298a797f6aba75952c3530ebfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kwayland-5.6.0.tar.xz">kwayland-5.6.0</a></td>
   <td align="right">164kB</td>
   <td><tt>943c8ffab30790ffcd22c5d86ff8890263b11447505104a8ab9135d68014d570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kwayland-integration-5.6.0.tar.xz">kwayland-integration-5.6.0</a></td>
   <td align="right">16kB</td>
   <td><tt>868c5660741fecb54bdab0ea936097c25c1b303f06cf1e7be9b80b0288db0dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kwin-5.6.0.tar.xz">kwin-5.6.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>d0224ad1f567caed19f644558b721bcc3cd995e0be9b6d3a00f6568941cde644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/kwrited-5.6.0.tar.xz">kwrited-5.6.0</a></td>
   <td align="right">19kB</td>
   <td><tt>41bcde691465598fe817aab1306c4761a928c70d8d6092909a50ade961bb754b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/libkscreen-5.6.0.tar.xz">libkscreen-5.6.0</a></td>
   <td align="right">81kB</td>
   <td><tt>e9231a4748c32410623e0192ccceafe2caf4924e779fa2a415e7668cf6b6cee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/libksysguard-5.6.0.tar.xz">libksysguard-5.6.0</a></td>
   <td align="right">683kB</td>
   <td><tt>b64ffae6d127b640627868c47de256d159a2be87a8239116d29a0c60cbce8585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/milou-5.6.0.tar.xz">milou-5.6.0</a></td>
   <td align="right">55kB</td>
   <td><tt>e517d26e6df7abd05edfeb6f42dd507f02da25c5d4018473f5084c50b81a0477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/oxygen-5.6.0.tar.xz">oxygen-5.6.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>458eeb0614f075f029ffedb08d71950c5258ad4f6daea0c8cbad89e8a6b27954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-desktop-5.6.0.tar.xz">plasma-desktop-5.6.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>184a6d4406ce5bbb98e52660be75cf22459ec832cbed2cc49cd363e5da5af160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-integration-5.6.0.tar.xz">plasma-integration-5.6.0</a></td>
   <td align="right">49kB</td>
   <td><tt>f8909c30c35f4dccfaeed93386b5f9e911f06c43336fadf400620068f2d71e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-mediacenter-5.6.0.tar.xz">plasma-mediacenter-5.6.0</a></td>
   <td align="right">170kB</td>
   <td><tt>9bdd0f724f5decf5c5e0c54c00c73e029307782ade030b51f6ddc9849ace6a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-nm-5.6.0.tar.xz">plasma-nm-5.6.0</a></td>
   <td align="right">626kB</td>
   <td><tt>85092b306ff8b5cbefbc1dea3550136b7afcfdea14e0fb3c7746b37cb09ba777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-pa-5.6.0.tar.xz">plasma-pa-5.6.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8fa6da533b94c66b83ae97623ccafb5804989eeb343d8b0666aedd016017aa03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-sdk-5.6.0.tar.xz">plasma-sdk-5.6.0</a></td>
   <td align="right">685kB</td>
   <td><tt>248f8933cb0b0b4c7744370709d68374e86e912dc9f4bd7399086e87d5775dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-workspace-5.6.0.tar.xz">plasma-workspace-5.6.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>3bb49dfb59b48d88097685acf303b0cef1a45ee8bc43d34b6785cc04d7b6529d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/plasma-workspace-wallpapers-5.6.0.tar.xz">plasma-workspace-wallpapers-5.6.0</a></td>
   <td align="right">43MB</td>
   <td><tt>e4ceca3d6b3a76d8ed03065eb393aeabaa94d4dd6f575a304c59b38302c19dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/polkit-kde-agent-1-5.6.0.tar.xz">polkit-kde-agent-1-5.6.0</a></td>
   <td align="right">49kB</td>
   <td><tt>b5acbbb5bad853023bf7bf18e3caaa56a731170dc97159b436d5556705362a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/powerdevil-5.6.0.tar.xz">powerdevil-5.6.0</a></td>
   <td align="right">345kB</td>
   <td><tt>eb8a772098f3f629d1612479888cb547dacc8f24a1e48fbbb6d0702c728c57cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/sddm-kcm-5.6.0.tar.xz">sddm-kcm-5.6.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d058614ad0a759855af4a202c567e424b7bea48581736782c8db44aae783836e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/simplesystray-5.6.0.tar.xz">simplesystray-5.6.0</a></td>
   <td align="right">30kB</td>
   <td><tt>550747174592794884b7b19d1db93c2adfa1d4913cfca4c4b2d427701d9fd256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/systemsettings-5.6.0.tar.xz">systemsettings-5.6.0</a></td>
   <td align="right">177kB</td>
   <td><tt>6f4e55138deb108cf7fe3ea2afb549ab8943b4386c51e16198559ab11a95658a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.0/user-manager-5.6.0.tar.xz">user-manager-5.6.0</a></td>
   <td align="right">69kB</td>
   <td><tt>1d339ceaaa2dbaae4c333042622a1e2e2affb727312f1c303946f0d6782e4853</tt></td>
</tr>

</table>
