/**
 * SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.hero-image {
  background-position: bottom left;
  height: 400px;
  background-size: 100%;
  @media (max-width: 1200px) {
    height: 300px;
  }
  @media (max-width: 800px) {
    height: 200px;
  }
  @media (max-width: 500px) {
    height: 140px;
  }
}

.donnorbox-container, .donnorbox-container-small {
	background-color: var(--background-color);
	max-width: 420px;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) !important;
	border-radius: 1rem;
	p {
		padding: 1rem;
	}
	iframe {
		border: 1px solid white;
		border-bottom-right-radius: calc(1rem - 1px);
		border-bottom-left-radius: calc(1rem - 1px);
	}
}
.donnorbox-container {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 400px;
	@media (max-width: 1200px) {
		display: none;
	}
}

.donnorbox-container-small {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 1200px) {
		display: none;
	}
}

main > p:nth-child(4),
main > p:nth-child(5) {
  max-width: 700px;
}
