<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-19.08.2.tar.xz">akonadi-19.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>38e0d8b0f26f536ed403aa0079a2bc21287afba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-calendar-19.08.2.tar.xz">akonadi-calendar-19.08.2</a></td>
   <td align="right">324kB</td>
   <td><tt>85e89eb31edbe5d1dea8111984e21c168097eef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-calendar-tools-19.08.2.tar.xz">akonadi-calendar-tools-19.08.2</a></td>
   <td align="right">219kB</td>
   <td><tt>e32effa2d313e3a32f0e00608b803b3d44b3d787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadiconsole-19.08.2.tar.xz">akonadiconsole-19.08.2</a></td>
   <td align="right">189kB</td>
   <td><tt>89528e060ebe30c3882dedeb20d4f330a88a4d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-contacts-19.08.2.tar.xz">akonadi-contacts-19.08.2</a></td>
   <td align="right">375kB</td>
   <td><tt>feb8b8786e0565fb79451e0ae36e06f0cb0b70dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-import-wizard-19.08.2.tar.xz">akonadi-import-wizard-19.08.2</a></td>
   <td align="right">427kB</td>
   <td><tt>1680ad8a1ac18ca92736d3be03f870c6d1786694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-mime-19.08.2.tar.xz">akonadi-mime-19.08.2</a></td>
   <td align="right">129kB</td>
   <td><tt>94a64a535cd793a94e3dd325627ca3370539119b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-notes-19.08.2.tar.xz">akonadi-notes-19.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>6300bffcfd5598dac5e8072fb3aa595246189917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akonadi-search-19.08.2.tar.xz">akonadi-search-19.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>39892f7a581424c25243a58beed7ecbe6d634963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/akregator-19.08.2.tar.xz">akregator-19.08.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>635eeaab771085c07bea8676308d8506d7585b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/analitza-19.08.2.tar.xz">analitza-19.08.2</a></td>
   <td align="right">325kB</td>
   <td><tt>7908a60c260e0afabbcf00a29c42b180393785e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ark-19.08.2.tar.xz">ark-19.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5e1af180c7e1799ebbe577d892e5cc3912e15053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/artikulate-19.08.2.tar.xz">artikulate-19.08.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>54c0b27999b1a0d1038e70e64f69458e8bcd4493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/audiocd-kio-19.08.2.tar.xz">audiocd-kio-19.08.2</a></td>
   <td align="right">347kB</td>
   <td><tt>9570c4673056efa177ba6d502fd364e2d3a70e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/baloo-widgets-19.08.2.tar.xz">baloo-widgets-19.08.2</a></td>
   <td align="right">255kB</td>
   <td><tt>006fba7fbeaa7f1e111f957b2c80b03d30c77203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/blinken-19.08.2.tar.xz">blinken-19.08.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2c89d306835017eefbf269612c3670b3295118f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/bomber-19.08.2.tar.xz">bomber-19.08.2</a></td>
   <td align="right">801kB</td>
   <td><tt>282f2bf0b4073ef9095d8a1b928c8e10c452c061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/bovo-19.08.2.tar.xz">bovo-19.08.2</a></td>
   <td align="right">195kB</td>
   <td><tt>d636760cc4832f0d47fcdd7550df76f38f2764a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/calendarsupport-19.08.2.tar.xz">calendarsupport-19.08.2</a></td>
   <td align="right">631kB</td>
   <td><tt>73777e95c85ff5107abe5b50b85b312715eb2774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/cantor-19.08.2.tar.xz">cantor-19.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e457474f834953dc4a8329e3a1c19f339b30bfeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/cervisia-19.08.2.tar.xz">cervisia-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d232483bad91aa91278e0513b36b782be635f7cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/dolphin-19.08.2.tar.xz">dolphin-19.08.2</a></td>
   <td align="right">5.0MB</td>
   <td><tt>16012151aadced97d192e92715e5dd471ebfd7a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/dolphin-plugins-19.08.2.tar.xz">dolphin-plugins-19.08.2</a></td>
   <td align="right">189kB</td>
   <td><tt>541a18a284cf5c79c8de7f2305b5c33218725022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/dragon-19.08.2.tar.xz">dragon-19.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>34916e2a8340eb70abf12d224c8bc7f74b2998ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/eventviews-19.08.2.tar.xz">eventviews-19.08.2</a></td>
   <td align="right">432kB</td>
   <td><tt>9d8f9e7d1107bb4156c76ca45a16eff69fbe50d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ffmpegthumbs-19.08.2.tar.xz">ffmpegthumbs-19.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>9e46fef2daa79c1c8ab1857f9a0d066b167994da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/filelight-19.08.2.tar.xz">filelight-19.08.2</a></td>
   <td align="right">644kB</td>
   <td><tt>96cc9c0a00199c8270cb355150605cc9fac6b37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/granatier-19.08.2.tar.xz">granatier-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5b12e7a95cea6a8e17c2b15ab7edfdfd303be9dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/grantlee-editor-19.08.2.tar.xz">grantlee-editor-19.08.2</a></td>
   <td align="right">108kB</td>
   <td><tt>00809d5b5b33a08f8cb349a00dc5e9158bec6a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/grantleetheme-19.08.2.tar.xz">grantleetheme-19.08.2</a></td>
   <td align="right">51kB</td>
   <td><tt>8cfd257869a41758763443d8fe93d06ba4167da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/gwenview-19.08.2.tar.xz">gwenview-19.08.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>297d149d13ba2a3b2f0e3c6df7bd75cb9f6c24ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/incidenceeditor-19.08.2.tar.xz">incidenceeditor-19.08.2</a></td>
   <td align="right">536kB</td>
   <td><tt>9f792932a93c570081d23148bd5aea5c4fdcf582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/juk-19.08.2.tar.xz">juk-19.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1a53167125295b6bbaab7ab53c633eb5bc30d737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/k3b-19.08.2.tar.xz">k3b-19.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>9caee11d508944d6dd104873c8806c3112fa982f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kaccounts-integration-19.08.2.tar.xz">kaccounts-integration-19.08.2</a></td>
   <td align="right">70kB</td>
   <td><tt>fbda7546f8943b6084450f4e558a5a37d09543b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kaccounts-providers-19.08.2.tar.xz">kaccounts-providers-19.08.2</a></td>
   <td align="right">31kB</td>
   <td><tt>0046a72dd75ed9b2f94e5b82f30744d5d4c1c206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kaddressbook-19.08.2.tar.xz">kaddressbook-19.08.2</a></td>
   <td align="right">464kB</td>
   <td><tt>846f368930ad07f5241bf268c1c7da323f7cfa6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kajongg-19.08.2.tar.xz">kajongg-19.08.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>efef66466d4f63550b5a95baeeddb852fae5f5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kalarm-19.08.2.tar.xz">kalarm-19.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bf3db4baa247b187411e5d822a0ab6f821ba8dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kalarmcal-19.08.2.tar.xz">kalarmcal-19.08.2</a></td>
   <td align="right">560kB</td>
   <td><tt>03db9b03519cf69f85ecb64b73162badab3e6879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kalgebra-19.08.2.tar.xz">kalgebra-19.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fcf68bc92c72ac7a943432a487d240bcb245d806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kalzium-19.08.2.tar.xz">kalzium-19.08.2</a></td>
   <td align="right">25MB</td>
   <td><tt>a80b1bbfdbd613273246e519e433eac2ba21d8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kamera-19.08.2.tar.xz">kamera-19.08.2</a></td>
   <td align="right">97kB</td>
   <td><tt>d4e6eee85486f01504dbbfe94f86dfa8d2a2f672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kamoso-19.08.2.tar.xz">kamoso-19.08.2</a></td>
   <td align="right">196kB</td>
   <td><tt>5bc4546147cf13ea610e137b823570e7f5532b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kanagram-19.08.2.tar.xz">kanagram-19.08.2</a></td>
   <td align="right">7.6MB</td>
   <td><tt>6561fce86533f0ef4c6a391be7a0df8cb091d75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kapman-19.08.2.tar.xz">kapman-19.08.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5216a7e98636696281f3728c3717772fae91292d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kapptemplate-19.08.2.tar.xz">kapptemplate-19.08.2</a></td>
   <td align="right">309kB</td>
   <td><tt>8be29b1851e3521df9c04402c6cb7585fb5aa420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kate-19.08.2.tar.xz">kate-19.08.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>af940d68ae83816fa87a3d8274170d3dda71e275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/katomic-19.08.2.tar.xz">katomic-19.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ddc3bc2e2e8c32ef5a6c18fffad770eab2b8e5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kbackup-19.08.2.tar.xz">kbackup-19.08.2</a></td>
   <td align="right">349kB</td>
   <td><tt>db8c44d258f4ccedceca2fae46c25cc8788c96c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kblackbox-19.08.2.tar.xz">kblackbox-19.08.2</a></td>
   <td align="right">436kB</td>
   <td><tt>4f557bd9c09e1d2564b2f7107752d73e39cf3814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kblocks-19.08.2.tar.xz">kblocks-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>760fac0512c641a33195f586f07465b7d402aabd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kblog-19.08.2.tar.xz">kblog-19.08.2</a></td>
   <td align="right">71kB</td>
   <td><tt>cc2371167b7bd1ace3edc138b25e6c14e40281f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kbounce-19.08.2.tar.xz">kbounce-19.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>936b97ca95f17e9116b1a9e53b4888ca361115ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kbreakout-19.08.2.tar.xz">kbreakout-19.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1de3a5a47fbf8d15c602b8c379d72beb5eb0ba8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kbruch-19.08.2.tar.xz">kbruch-19.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d2f4a11e0b517f1c18bed4726632226ae12a0616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcachegrind-19.08.2.tar.xz">kcachegrind-19.08.2</a></td>
   <td align="right">789kB</td>
   <td><tt>c8a4296fcab8ca6e30bd7c01d67540fa44c4614f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcalc-19.08.2.tar.xz">kcalc-19.08.2</a></td>
   <td align="right">363kB</td>
   <td><tt>11fb0d5b38a62645b095e53ee1cc88e57ec7e589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcalcore-19.08.2.tar.xz">kcalendarcore-19.08.2</a></td>
   <td align="right">243kB</td>
   <td><tt>c4d195ff8209e701fff43adc4c6160f991c7fc0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcalutils-19.08.2.tar.xz">kcalutils-19.08.2</a></td>
   <td align="right">315kB</td>
   <td><tt>2e3a8e765151387999a1662be592be08b2e3dd38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcharselect-19.08.2.tar.xz">kcharselect-19.08.2</a></td>
   <td align="right">326kB</td>
   <td><tt>5884fa3ec1aaa20b5778d907e4cf8abd750fb449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcolorchooser-19.08.2.tar.xz">kcolorchooser-19.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>7f258d92f49d96d2b6b600356b5b400780c14a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcontacts-19.08.2.tar.xz">kcontacts-19.08.2</a></td>
   <td align="right">534kB</td>
   <td><tt>827039ec478c91196f3173fe54f46f1f8a46bbd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kcron-19.08.2.tar.xz">kcron-19.08.2</a></td>
   <td align="right">866kB</td>
   <td><tt>0f405d0c4b1cba2fc9a2e1cbb2dc9d406b16cd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdav-19.08.2.tar.xz">kdav-19.08.2</a></td>
   <td align="right">48kB</td>
   <td><tt>1995fc275fe32277714f33a8d2ba1f91e8c64a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdebugsettings-19.08.2.tar.xz">kdebugsettings-19.08.2</a></td>
   <td align="right">54kB</td>
   <td><tt>845f6e6117111559d94f54bfe87891e5feb087d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kde-dev-scripts-19.08.2.tar.xz">kde-dev-scripts-19.08.2</a></td>
   <td align="right">368kB</td>
   <td><tt>42eed9cf041a8e885ca174ad991fe7794240cc4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kde-dev-utils-19.08.2.tar.xz">kde-dev-utils-19.08.2</a></td>
   <td align="right">60kB</td>
   <td><tt>1993b632b6d5151ca89c96f97e62d4d2f71b7a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdeedu-data-19.08.2.tar.xz">kdeedu-data-19.08.2</a></td>
   <td align="right">320kB</td>
   <td><tt>e24faa938a24ff8346a98ab92687996b597987c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdegraphics-mobipocket-19.08.2.tar.xz">kdegraphics-mobipocket-19.08.2</a></td>
   <td align="right">13kB</td>
   <td><tt>0036fc2724af995ba075356ca71acf1974593810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdegraphics-thumbnailers-19.08.2.tar.xz">kdegraphics-thumbnailers-19.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>d8aee91f982fd50dd00b1c4df95f15e6af576a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdenetwork-filesharing-19.08.2.tar.xz">kdenetwork-filesharing-19.08.2</a></td>
   <td align="right">308kB</td>
   <td><tt>98360431ceb0ad6cba691f5900f397524520ed72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdenlive-19.08.2.tar.xz">kdenlive-19.08.2</a></td>
   <td align="right">11MB</td>
   <td><tt>a0b5e2a82ed7b42a271f86886d081b8316dc58ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdepim-addons-19.08.2.tar.xz">kdepim-addons-19.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c6ab0bf78d786b692ea9c6f4d163a35e4d88d1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdepim-apps-libs-19.08.2.tar.xz">kdepim-apps-libs-19.08.2</a></td>
   <td align="right">80kB</td>
   <td><tt>dc7e994df159a4bebfee37e1465559d999f489c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdepim-runtime-19.08.2.tar.xz">kdepim-runtime-19.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fe2b385d75711b7c918a168cec81c2d3a918bb54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdesdk-kioslaves-19.08.2.tar.xz">kdesdk-kioslaves-19.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>550add484e272dd9fb6da31391e73e3d31e0f225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdesdk-thumbnailers-19.08.2.tar.xz">kdesdk-thumbnailers-19.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>37a49d31d6fc3c3a00b12efc2410e2dc92c01efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdf-19.08.2.tar.xz">kdf-19.08.2</a></td>
   <td align="right">450kB</td>
   <td><tt>d58a75b5b563b46923234aa9f089723bba8d4397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdialog-19.08.2.tar.xz">kdialog-19.08.2</a></td>
   <td align="right">99kB</td>
   <td><tt>e54655c0b5ee5ad9cf62176350fc671afe349cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kdiamond-19.08.2.tar.xz">kdiamond-19.08.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>4c047f2b3ae0ca01eda7bd76e4f0b88f27d777e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/keditbookmarks-19.08.2.tar.xz">keditbookmarks-19.08.2</a></td>
   <td align="right">183kB</td>
   <td><tt>e76a84f6b57651cbbfbcd810cffb0caa8eedc2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kfind-19.08.2.tar.xz">kfind-19.08.2</a></td>
   <td align="right">264kB</td>
   <td><tt>38f1e39e1644b2f49f3c14e0cd4d288beed02072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kfloppy-19.08.2.tar.xz">kfloppy-19.08.2</a></td>
   <td align="right">194kB</td>
   <td><tt>16e8973c774a20eca40fe900e54d68bf2a8e819d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kfourinline-19.08.2.tar.xz">kfourinline-19.08.2</a></td>
   <td align="right">623kB</td>
   <td><tt>0890f55394ac8bae3591b1effe3493de5530e2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kgeography-19.08.2.tar.xz">kgeography-19.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>059f5e6d0d28a6e57829ad41d844f3af77c6348c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kget-19.08.2.tar.xz">kget-19.08.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>197f839450421e9f2970a66fccbbc73f83238610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kgoldrunner-19.08.2.tar.xz">kgoldrunner-19.08.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>11dfe843e7bc80231edc34d837c549c0c6135b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kgpg-19.08.2.tar.xz">kgpg-19.08.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>129daf4cf24d5604e07f655818ba805dea21da49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/khangman-19.08.2.tar.xz">khangman-19.08.2</a></td>
   <td align="right">6.7MB</td>
   <td><tt>d456beed8ebd99340b0df2e938413579cd4a857c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/khelpcenter-19.08.2.tar.xz">khelpcenter-19.08.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>babf9c79c6fd2c24f0f8f57437e7d4108fc8d3fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kidentitymanagement-19.08.2.tar.xz">kidentitymanagement-19.08.2</a></td>
   <td align="right">145kB</td>
   <td><tt>304554f9b36a16050e4c9d2ed5876326987a98f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kig-19.08.2.tar.xz">kig-19.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>1cf75f4259552bd2fd7b7b0e5295f28263f15725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kigo-19.08.2.tar.xz">kigo-19.08.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b56f5f5b390f0647d948816939300effefa698ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/killbots-19.08.2.tar.xz">killbots-19.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>464e2c967b8e18e9628f13fb952c1d13047c1582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kimagemapeditor-19.08.2.tar.xz">kimagemapeditor-19.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7471063e15d233030ba042ebb4d7fe5b3490eae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kimap-19.08.2.tar.xz">kimap-19.08.2</a></td>
   <td align="right">116kB</td>
   <td><tt>9fb5da09acf5932eee2feb05b13a86b7a339ee15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kio-extras-19.08.2.tar.xz">kio-extras-19.08.2</a></td>
   <td align="right">564kB</td>
   <td><tt>41675f0051a45316ebd844a269599983651e3540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kipi-plugins-19.08.2.tar.xz">kipi-plugins-19.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e7b8bd288fe9ac222a37c665cd0312ff6cb974c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kirigami-gallery-19.08.2.tar.xz">kirigami-gallery-19.08.2</a></td>
   <td align="right">270kB</td>
   <td><tt>48cae97f030010b80da366c50102939c2892d43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kiriki-19.08.2.tar.xz">kiriki-19.08.2</a></td>
   <td align="right">364kB</td>
   <td><tt>8b2e70675ab5b7b97747e9bbcacac09ea7427fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kiten-19.08.2.tar.xz">kiten-19.08.2</a></td>
   <td align="right">10MB</td>
   <td><tt>4d1bf32d9efebda560643f6cf08e7203e0ef4e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kitinerary-19.08.2.tar.xz">kitinerary-19.08.2</a></td>
   <td align="right">932kB</td>
   <td><tt>c56f12c31baf8c5a77d3154c839d31f5a000f2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kjumpingcube-19.08.2.tar.xz">kjumpingcube-19.08.2</a></td>
   <td align="right">281kB</td>
   <td><tt>a58ae96150134a66fbe602e26d89ad64e545afdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kldap-19.08.2.tar.xz">kldap-19.08.2</a></td>
   <td align="right">151kB</td>
   <td><tt>013b4cceb01745663386706006987c9440c741da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kleopatra-19.08.2.tar.xz">kleopatra-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f5764b8e396133861ba3d62f64d1d018a4fa5085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/klettres-19.08.2.tar.xz">klettres-19.08.2</a></td>
   <td align="right">38MB</td>
   <td><tt>ab302a97ee937f24fc144bd8d2b9ec8c43a30338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/klickety-19.08.2.tar.xz">klickety-19.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5a10579f6b1800c6324f9d7ef1af6eecb8620820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/klines-19.08.2.tar.xz">klines-19.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1c16f156d2284f655a5c0b68749950f784cc84f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmag-19.08.2.tar.xz">kmag-19.08.2</a></td>
   <td align="right">658kB</td>
   <td><tt>f3340e55707deb9ebf703854431e96d021abcc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmahjongg-19.08.2.tar.xz">kmahjongg-19.08.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>3a6c131e9c0c398403343303876b5e1e46e7682a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmail-19.08.2.tar.xz">kmail-19.08.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7e5cbfb35075082e62a1e70d5dc065bfe3cd37c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmail-account-wizard-19.08.2.tar.xz">kmail-account-wizard-19.08.2</a></td>
   <td align="right">154kB</td>
   <td><tt>781339aa42311547db786d10b0ced0b89315b272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmailtransport-19.08.2.tar.xz">kmailtransport-19.08.2</a></td>
   <td align="right">162kB</td>
   <td><tt>d65253ac58f508dfc0f7ab9c8aaea56f67b25b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmbox-19.08.2.tar.xz">kmbox-19.08.2</a></td>
   <td align="right">23kB</td>
   <td><tt>0e37980a1ce341094a99372c4b5d75a8dfcc793e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmime-19.08.2.tar.xz">kmime-19.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>7a29bdd6d3bfa6e1e30b19d38f718ebaf10ef579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmines-19.08.2.tar.xz">kmines-19.08.2</a></td>
   <td align="right">877kB</td>
   <td><tt>33dbd4ef316175d3dee445c3f908c16a48c14746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmix-19.08.2.tar.xz">kmix-19.08.2</a></td>
   <td align="right">982kB</td>
   <td><tt>386a13934f6406250548f82cc967c456fbc00a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmousetool-19.08.2.tar.xz">kmousetool-19.08.2</a></td>
   <td align="right">110kB</td>
   <td><tt>6f079f4e81c50b5e95fc7c79439170d10dcc2e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmouth-19.08.2.tar.xz">kmouth-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3194a8b212bb26a72bff3587b5948e215b024a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kmplot-19.08.2.tar.xz">kmplot-19.08.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>181178bafb3f5c9c36237c1ad08442d6ecb86804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/knavalbattle-19.08.2.tar.xz">knavalbattle-19.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>665a57215e6d20c8bb4eac844fa783c15834d9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/knetwalk-19.08.2.tar.xz">knetwalk-19.08.2</a></td>
   <td align="right">1014kB</td>
   <td><tt>5c4823eb8f4c1e564fe3f08b6ffb6d2278af40e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/knights-19.08.2.tar.xz">knights-19.08.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>13290bf5cd99f8eb681e43020fdf66da8332af91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/knotes-19.08.2.tar.xz">knotes-19.08.2</a></td>
   <td align="right">311kB</td>
   <td><tt>76f3d4717bda2c34f26502ec84a2cec83e9e3f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kolf-19.08.2.tar.xz">kolf-19.08.2</a></td>
   <td align="right">1002kB</td>
   <td><tt>a19c3a019c3df099546c707e5dbaddeb901de072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kollision-19.08.2.tar.xz">kollision-19.08.2</a></td>
   <td align="right">274kB</td>
   <td><tt>8c712aa1597749efdbf17521540a37fe56a2adfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kolourpaint-19.08.2.tar.xz">kolourpaint-19.08.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>b6184f4a88fdbb7a232b6535086f1e4848e095ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kompare-19.08.2.tar.xz">kompare-19.08.2</a></td>
   <td align="right">783kB</td>
   <td><tt>6a5766ab98e1315b87734b2fb79ecf94d3cb35b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/konqueror-19.08.2.tar.xz">konqueror-19.08.2</a></td>
   <td align="right">7.2MB</td>
   <td><tt>68c1445568c442055980ed9738d6203e63e886b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/konquest-19.08.2.tar.xz">konquest-19.08.2</a></td>
   <td align="right">643kB</td>
   <td><tt>c1194fe0dcb3dc1c9f2b04aacd7276e62b44da76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/konsole-19.08.2.tar.xz">konsole-19.08.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>738fc3c24ba2548e4c351884f594a14623e06431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kontact-19.08.2.tar.xz">kontact-19.08.2</a></td>
   <td align="right">775kB</td>
   <td><tt>7c8bfb6f4d4d7e87487d79b7b30d08e402bcebb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kontactinterface-19.08.2.tar.xz">kontactinterface-19.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>b49474204d29d6f7d168d1d54a2fbf1375c6c7f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kopete-19.08.2.tar.xz">kopete-19.08.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>eab33fd326de3af9cb3ce2ee362330eef01e00b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/korganizer-19.08.2.tar.xz">korganizer-19.08.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ad7f9defad15f861ea57c52b6282d83b3bec86d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kpat-19.08.2.tar.xz">kpat-19.08.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9d9c1a40fffc9286ca69b36265706a875ff23f0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kpimtextedit-19.08.2.tar.xz">kpimtextedit-19.08.2</a></td>
   <td align="right">151kB</td>
   <td><tt>6745117b00869da3eb3b08b31a1a9db22502a583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kpkpass-19.08.2.tar.xz">kpkpass-19.08.2</a></td>
   <td align="right">22kB</td>
   <td><tt>378ce1bfa78ebcf8d4d366ec48d2db2036ab3439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kqtquickcharts-19.08.2.tar.xz">kqtquickcharts-19.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>69df727663f4a28cb009f21df3f07ef2264a958b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/krdc-19.08.2.tar.xz">krdc-19.08.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d8cc06c43afe68ddc1df0f766111b01a26c3a3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kreversi-19.08.2.tar.xz">kreversi-19.08.2</a></td>
   <td align="right">921kB</td>
   <td><tt>67dedb85420ef94d416ae145be89080ccfe4ee88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/krfb-19.08.2.tar.xz">krfb-19.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>75d82b8d51c3c7887517596d791f30ae9ea12ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kross-interpreters-19.08.2.tar.xz">kross-interpreters-19.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>5fa51177e2f68ac292a8bcd7d0eeabccebba99b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kruler-19.08.2.tar.xz">kruler-19.08.2</a></td>
   <td align="right">243kB</td>
   <td><tt>352890bc0ebb0c877844812d295dc18a1723e02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kshisen-19.08.2.tar.xz">kshisen-19.08.2</a></td>
   <td align="right">803kB</td>
   <td><tt>955166a5f1bcd81c5c25ae1f395eb4440e648e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksirk-19.08.2.tar.xz">ksirk-19.08.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>e13adec53a4fb45786444f5660a26269e0abbcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksmtp-19.08.2.tar.xz">ksmtp-19.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>d64cb66c3366abcdb27aee3e94350844ed9ca50b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksnakeduel-19.08.2.tar.xz">ksnakeduel-19.08.2</a></td>
   <td align="right">591kB</td>
   <td><tt>b6fa3ce593e12ef7d2a0f1ca96168225f4b69842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kspaceduel-19.08.2.tar.xz">kspaceduel-19.08.2</a></td>
   <td align="right">597kB</td>
   <td><tt>a8d80d49e9add818df6da1770108f6d8ac2eef6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksquares-19.08.2.tar.xz">ksquares-19.08.2</a></td>
   <td align="right">254kB</td>
   <td><tt>b77b244a7e90f962c1629a68bf662e6fe26c028e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksudoku-19.08.2.tar.xz">ksudoku-19.08.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4738e4862dd28bc69394a2110c15e08b23330478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ksystemlog-19.08.2.tar.xz">ksystemlog-19.08.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e165cf4c08fd46422788c1a0f34223903f6a061f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kteatime-19.08.2.tar.xz">kteatime-19.08.2</a></td>
   <td align="right">280kB</td>
   <td><tt>713eab435f37ecc2e6a12efb0b56bb524e9aa646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktimer-19.08.2.tar.xz">ktimer-19.08.2</a></td>
   <td align="right">368kB</td>
   <td><tt>10a2737a470ef932ecabf60881689f36298bb79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktnef-19.08.2.tar.xz">ktnef-19.08.2</a></td>
   <td align="right">292kB</td>
   <td><tt>8a52a6dd563a1dc7e96a539244fe00969bcfb789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktouch-19.08.2.tar.xz">ktouch-19.08.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>e96cda8e90f925cc7b17e86372ec981c97e93c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-accounts-kcm-19.08.2.tar.xz">ktp-accounts-kcm-19.08.2</a></td>
   <td align="right">258kB</td>
   <td><tt>0543e1fc9ab13855ece9c6fe4cce02abd158f444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-approver-19.08.2.tar.xz">ktp-approver-19.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>ab12ac712f7e0fba1c22e78e9a171a0fc59d0953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-auth-handler-19.08.2.tar.xz">ktp-auth-handler-19.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>297ded5dcdb22730917a34516ac3289251ab1f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-call-ui-19.08.2.tar.xz">ktp-call-ui-19.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>e698e2cad106712a0a7d8300476dffc25a15af3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-common-internals-19.08.2.tar.xz">ktp-common-internals-19.08.2</a></td>
   <td align="right">433kB</td>
   <td><tt>2b158e4f72963f8661ea4f9d057ef0e30e9e39ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-contact-list-19.08.2.tar.xz">ktp-contact-list-19.08.2</a></td>
   <td align="right">145kB</td>
   <td><tt>79c74b25e93a3b5186826f740be25cf025a7e2f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-contact-runner-19.08.2.tar.xz">ktp-contact-runner-19.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>65b35d9e7587546ea83fcd3a87affe43ec537de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-desktop-applets-19.08.2.tar.xz">ktp-desktop-applets-19.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>d1e71731add4e4de90dc4ef2d80f06d804135b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-filetransfer-handler-19.08.2.tar.xz">ktp-filetransfer-handler-19.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>da26ec7bd45a07a4d47f705496c4e1dfc54589e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-kded-module-19.08.2.tar.xz">ktp-kded-module-19.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>5b9496d8c9a6de33d288ffb11eb9017342c024f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-send-file-19.08.2.tar.xz">ktp-send-file-19.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>c6d2f56a0e1c65558da647f2fbc9a9e3f9a7d6f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktp-text-ui-19.08.2.tar.xz">ktp-text-ui-19.08.2</a></td>
   <td align="right">460kB</td>
   <td><tt>ff8f0ad07c932d19e155ac764d61989b6e4d076b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/ktuberling-19.08.2.tar.xz">ktuberling-19.08.2</a></td>
   <td align="right">31MB</td>
   <td><tt>725deb5e24839f4e7b1fd8df75530f8a43d5bfc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kturtle-19.08.2.tar.xz">kturtle-19.08.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>acbb5a0fda09f7b9f87c9c8976256d21ca382ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kubrick-19.08.2.tar.xz">kubrick-19.08.2</a></td>
   <td align="right">305kB</td>
   <td><tt>2896b9cb6d8fa6f2dbdd1cebe159a0f3c0bcbd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kwalletmanager-19.08.2.tar.xz">kwalletmanager-19.08.2</a></td>
   <td align="right">768kB</td>
   <td><tt>d53af76f1bc19262f631f3609d731af1d6b6fb66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kwave-19.08.2.tar.xz">kwave-19.08.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>51bbbbb64f435ae2463852149f4f4ebec133efcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/kwordquiz-19.08.2.tar.xz">kwordquiz-19.08.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>812a7d7f465e15875534bb1a59088ad178fe3d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libgravatar-19.08.2.tar.xz">libgravatar-19.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>260a81ff7bdb3a82a595d4027a4b38383a2e2668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkcddb-19.08.2.tar.xz">libkcddb-19.08.2</a></td>
   <td align="right">413kB</td>
   <td><tt>f03b2031340c8805d517ab6f5f5e8d493d8a19b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkcompactdisc-19.08.2.tar.xz">libkcompactdisc-19.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>6dc4fe619008f010a1c3949ea15d6d8b1ecc79e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkdcraw-19.08.2.tar.xz">libkdcraw-19.08.2</a></td>
   <td align="right">41kB</td>
   <td><tt>a0e3384b664b06be17ea52670d2aca14a5284d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkdegames-19.08.2.tar.xz">libkdegames-19.08.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d1e931856760794cb1a4bb1ca14b45a642287309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkdepim-19.08.2.tar.xz">libkdepim-19.08.2</a></td>
   <td align="right">325kB</td>
   <td><tt>d7bfc04afa6e516d5a70b132309e4686c41f68eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkeduvocdocument-19.08.2.tar.xz">libkeduvocdocument-19.08.2</a></td>
   <td align="right">205kB</td>
   <td><tt>e6aee7cf6a8492b498ea05fd6bcf217dc8c6d16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkexiv2-19.08.2.tar.xz">libkexiv2-19.08.2</a></td>
   <td align="right">62kB</td>
   <td><tt>f25c0b24f39ef9557b2321a470b719da004e9589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkgapi-19.08.2.tar.xz">libkgapi-19.08.2</a></td>
   <td align="right">229kB</td>
   <td><tt>635f37b12061d901cca4dd53545698a947a9e0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkgeomap-19.08.2.tar.xz">libkgeomap-19.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>4393702841a7432ebff55fa4e60a26179bc9f6fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkipi-19.08.2.tar.xz">libkipi-19.08.2</a></td>
   <td align="right">100kB</td>
   <td><tt>db86e34520313181b4c174119e5083a6b4c49292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkleo-19.08.2.tar.xz">libkleo-19.08.2</a></td>
   <td align="right">329kB</td>
   <td><tt>27647dd441bcec629f15efd3b098bf138bb87541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkmahjongg-19.08.2.tar.xz">libkmahjongg-19.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b70614c84aaf625729a791645a70367580345a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libkomparediff2-19.08.2.tar.xz">libkomparediff2-19.08.2</a></td>
   <td align="right">169kB</td>
   <td><tt>79d47216222b8aebc3eafdbe2dbff04e79e8f00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libksane-19.08.2.tar.xz">libksane-19.08.2</a></td>
   <td align="right">135kB</td>
   <td><tt>89699b233d3ae47b1fa5ba6525a660cf54f12b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/libksieve-19.08.2.tar.xz">libksieve-19.08.2</a></td>
   <td align="right">536kB</td>
   <td><tt>0b748f54b8b2ef8ce354eb10715c8d33f182ca2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/lokalize-19.08.2.tar.xz">lokalize-19.08.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>58fc69d27972bf830a0ac2b304596688f3149a1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/lskat-19.08.2.tar.xz">lskat-19.08.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1f677af650f9d5e463d7a5827d4ab6f8c53f9f21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/mailcommon-19.08.2.tar.xz">mailcommon-19.08.2</a></td>
   <td align="right">677kB</td>
   <td><tt>de6ec2a967847fb65fa7a8163af938fecb08412b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/mailimporter-19.08.2.tar.xz">mailimporter-19.08.2</a></td>
   <td align="right">527kB</td>
   <td><tt>c67c20841efbf9a1877dba4f32ecef2ce124bae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/marble-19.08.2.tar.xz">marble-19.08.2</a></td>
   <td align="right">49MB</td>
   <td><tt>736872829ded084874afbcd7925bbabb7d0376e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/mbox-importer-19.08.2.tar.xz">mbox-importer-19.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>e7fb8e6c062317a2b291e6eaff662cc37aa67ac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/messagelib-19.08.2.tar.xz">messagelib-19.08.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>82a1172e627b9de8e78386d05b09f5b134e54eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/minuet-19.08.2.tar.xz">minuet-19.08.2</a></td>
   <td align="right">26MB</td>
   <td><tt>0031b5114ee18d895fdd4096d9c37adc007970aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/okular-19.08.2.tar.xz">okular-19.08.2</a></td>
   <td align="right">6.7MB</td>
   <td><tt>2b416f0022d51f63b5c32cbfb17473970bf87278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/palapeli-19.08.2.tar.xz">palapeli-19.08.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>73d4028010d49d8ac2126c72530fc3bccc2c356a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/parley-19.08.2.tar.xz">parley-19.08.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>c31c55ed7ec7b830e890941344f69bcdd67e2e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/picmi-19.08.2.tar.xz">picmi-19.08.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>62cd4c4b6d59b5889ea2f70b8a98e46138a99767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/pimcommon-19.08.2.tar.xz">pimcommon-19.08.2</a></td>
   <td align="right">287kB</td>
   <td><tt>a4fae0bdf6a6cc136266fe932059c4cbf1668f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/pim-data-exporter-19.08.2.tar.xz">pim-data-exporter-19.08.2</a></td>
   <td align="right">199kB</td>
   <td><tt>ec90ed9a438c2c6dc1fddef721b96d5eca6b173b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/pim-sieve-editor-19.08.2.tar.xz">pim-sieve-editor-19.08.2</a></td>
   <td align="right">440kB</td>
   <td><tt>77121086ca7a736d8fd685d1d479db7e879d4267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/poxml-19.08.2.tar.xz">poxml-19.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>b80cacc7588f4431f2895ee7af51efbc83734232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/print-manager-19.08.2.tar.xz">print-manager-19.08.2</a></td>
   <td align="right">238kB</td>
   <td><tt>3c61f7ab258cc09e70c2e5169b17960193fbd99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/rocs-19.08.2.tar.xz">rocs-19.08.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7c3991514e4716bd446474eb9b9f48475e73ddc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/signon-kwallet-extension-19.08.2.tar.xz">signon-kwallet-extension-19.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>885829ac4ca55697ac9f53a9c42cfa3213382897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/spectacle-19.08.2.tar.xz">spectacle-19.08.2</a></td>
   <td align="right">942kB</td>
   <td><tt>dc8be11d665599d92332e35d9b151eec1cb2a830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/step-19.08.2.tar.xz">step-19.08.2</a></td>
   <td align="right">850kB</td>
   <td><tt>d7691f8822070fe2ade698ad684ff753ba0481c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/svgpart-19.08.2.tar.xz">svgpart-19.08.2</a></td>
   <td align="right">20kB</td>
   <td><tt>0bf17fb1772fc416e44171ea93403d606310e802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/sweeper-19.08.2.tar.xz">sweeper-19.08.2</a></td>
   <td align="right">359kB</td>
   <td><tt>d6fb2b43a22032c764d7c9a7cda3e7603f47df15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/umbrello-19.08.2.tar.xz">umbrello-19.08.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a92cd3aee394a293d839cbcc778ae58202ac96db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/yakuake-19.08.2.tar.xz">yakuake-19.08.2</a></td>
   <td align="right">362kB</td>
   <td><tt>7590108499372e4ab691411aa41c32c439209d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.2/src/zeroconf-ioslave-19.08.2.tar.xz">zeroconf-ioslave-19.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>fb9e56943ae5f614b7f9d1f532960ea88c3507ba</tt></td>
</tr>

</table>
