<section class="fundraising">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap">
            <h2><a href="/fundraisers/yearend2022">{{ i18n "you-made-it" | safeHTML }}</a></h2>
            <a href="/fundraisers/yearend2022" class="ms-auto d-block btn btn-primary">{{ i18n "donate-now" }}</a>
        </div>
    </div>
</section>
