<div class="d-flex flex-wrap gap-5 align-items-center">
  <img class="img-fluid" src="/aether/media/patrons/slimbook.png" alt="Slimbook" />
  <img class="img-fluid" src="/aether/media/patrons/tuxedo.png" alt="Tuxedo" />
  <img class="img-fluid" src="/for/resources/mercedes.svg" alt="Mercedes" />
  <img class="img-fluid" src="/for/resources/steam.svg" alt="Valve" />
  <img class="img-fluid" src="/for/resources/mycroft.png" alt="Mycroft" />
</div>
